.arfont {
  font-family: "Cairo", serif;
}
.ltn__product-item-4 .product-description p {
  font-size: 14px;
  margin-bottom: 15px;
  color: inherit;
}
.ltn__product-item-4 .product-info {
  min-height: 200px;
}
.circle-custom {
  margin-right: 8px;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  line-height: 36px;
  border-right: 0;
  align-self: center;
  font-size: 16px;
  background-color: var(--section-bg-1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}
.text-end {
  text-align: right !important;
}
.ltn__list-item-half li i {
  font-size: 20px;
  color: var(--ltn__secondary-color);
  margin-right: 15px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  background-color: var(--ltn__color-6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  border-radius: 100%;
}
.ltn__callout {
  padding: 20px;
  margin: 25px 0;
  border-left: 4px solid;
  border-color: var(--ltn__secondary-color);
}
.ltn__list-item-half {
  margin-top: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.ltn__list-item-half li {
  width: 50%;
  float: left;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 0px;
}
.title-2 {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 600;
  border-left: 2px solid;
  border-color: var(--ltn__secondary-color);
  padding-left: 10px;
}
.ltn__video-bg-img {
  min-height: 550px;
}
